@import '../partials/variables';
@import '../partials/mixins';
.modal-space {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0);
    transition: all 0.25s;
    &.selected {
        z-index: 2000;
        background-color: rgba($black, 0.8);
    }
}

.modal-1 {
    @include flex(column);
    position: absolute;    
    top: -5%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: $black;
    background-color: $white;
    transition: all 0.25s;
    &.selected {
        top: 0;
        opacity: 1;
        z-index: 2005;
    }
    & > .title {
        @include flex(row, center, space-between);
        padding: 2.5%;
        background-color: $black;
        color: $white;
        & > div {
            width: 50%;
            & > h2 {
                margin-bottom: 2%;
            }
        }
    }
    & > .description {
        height: 100%;
        padding: 2.5%;
        overflow-y: auto;
        & > .info-wrapper {
            @include flex(row, flex-start, space-between);
            margin-bottom: 5%;
            padding-bottom: 1rem;
            & > *:first-child {
                width: 20%;
            }
            & > *:last-child {
                width: 70%;
            }
        }
    }
    & > .img-space {
        width: 100%;
        height: 15%;
        padding: 2.5%;
        background-color: $gray;
        & > .img-wrapper {
            display: inline-block;
            position: relative;
            bottom: 0;
            height: 100%;
            max-width: 10%;
            margin-right: 2%;
            @include transition(0.25s);
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                height: 105%;
                max-width: 15%;
                & > .img-numer { 
                    background-color: rgba($black, 1);
                    & > span {
                        opacity: 1;
                    }
                }
            }
            & > img {
                max-width: 100%;
                max-height: 100%;
            }
            & > .img-numer {
                @include flex(row, center, center);
                position: absolute;
                width: 100%;
                height: 100%;;
                background-color: rgba($black, 0);
                & > span {
                    @include flex(row, center, center);
                    width: 1.25rem;
                    height: 1.25rem;
                    font-size: 0.75rem;
                    color: $white;
                    border-radius: 50%;
                    border: 1px solid $white;
                    opacity: 0;
                }
            }
        }
    }
}

.step {
    @include flex(row, center);
    margin-bottom: 1rem;
    & > .step-num {
        @include flex(row,center,center);
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 1.25rem;
        background-color: $black;
        color: $white;
        font-size: 0.85rem;
        border-radius: 50%;
    }
}

.scenario {
    margin-bottom: 2.5%;
    padding: 2.5%;
    border-radius: 25px;
    & > video {
        display: block;
        width: 80%;
        margin: 0 auto 5% auto;
        border-radius: 25px;
        box-shadow: $shadow-1;
    }
    & > .scn-inf {
        @include flex(row, null, space-between);
        width: 80%;
        margin: 0 auto;
        & > *:first-child {
            width: 30%;
        }
        & > *:last-child {
            width: 60%;
        }
    }
}

.result {
    min-width: 320px;
    width: 106%;
    margin: 0 -2.8% -2.8% -2.8%;
    padding: 5% 35%;
    background-color: $gray;
    text-align: center;
    & > img {
        width: 5rem;
        margin-bottom: 1rem;
    }
    & > h2 {
        margin-bottom: 0.5rem;
    }
}