button {
    cursor: pointer;
    transition: all 0.25s;
}
.btn-1 {
    padding: 5pt 11pt;    
    background-color: $black;
    color: $white;
    font-weight: bolder;
    border-radius: 25px;
    &:hover {
        background-color: lighten($black, 50%);
    }
    &.-m-t {
        margin-top: 5%;
    }
    &.-reverse {
        background-color: $white;
        color: $black;
        &:hover {
            background-color: darken($white, 50%);
        }
    }
    &.-icon {
        @include flex(row,center,center);
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        border-radius: 50%;
        & > img {
            width: 45%;
        }
    }
}