form {
    & > div {
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.menu-1 {
    position: relative;
    padding-bottom: 1rem;
    opacity: 0.2;
    @include transition(0.25s);
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 3rem;
        height: 2px;
        background-color: $white;
        transition: all 0.25s;
    }
    &:hover {
        opacity: 1;
        &::after {
            width: 100%;
        }
    }
}